{
    "aouArrayValidation.samples": ["sample1", "sample2"],
    "aouArrayValidation.prefix" : "AoUprefix",
    "aouArrayValidation.array_vcfs": ["gs://bucket/sample1.vcf.gz", "gs://bucket/sample2.vcf.gz"],
    "aouArrayValidation.array_validation_docker": "us.gcr.io/talkowski-sv-gnomad/asj:array-validation",
    "aouArrayValidation.ids_corresp": "gs://bucket/sample_map.tsv",
    "aouArrayValidation.max_ac": 10,
    "aouArrayValidation.primary_contigs_fai": "gs://bucket/contigs.fai",
    "aouArrayValidation.gatk_sv_vcf": "gs://bucket/sv.vcf.gz",
    "aouArrayValidation.genome": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa",
    "aouArrayValidation.genome_index": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai",
    "aouArrayValidation.genome_dict": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.dict",
    "aouArrayValidation.gs_path": "gs://alba-gatk-sv/software/svtoolkit",
    "aouArrayValidation.scripts": "gs://alba-gatk-sv/array-validation/scripts"
}
