{
    "ukbbArrayValidation.array_fof": "gs://alba-gatk-sv/array-validation/UKBB/data/array_bcf-3.fof",
    "ukbbArrayValidation.array_validation_docker": "us.gcr.io/talkowski-sv-gnomad/asj:latest",
    "ukbbArrayValidation.samples_list": "gs://alba-gatk-sv/array-validation/UKBB/data/by_chr/ukbb_199811_gCNV.samples.list",
    "ukbbArrayValidation.contigs": ["chr1", "chr2", "chr3", "chr4", "chr5", "chr6", "chr7", "chr8", "chr9", "chr10", "chr11", "chr12", "chr13", "chr14", "chr15", "chr16", "chr17", "chr18", "chr19", "chr20", "chr21", "chr22"],
    "ukbbArrayValidation.gcnv_dir": "gs://alba-gatk-sv/array-validation/UKBB/data/by_chr",
    "ukbbArrayValidation.header": "gs://alba-gatk-sv/array-validation/UKBB/data/ukbb_header.txt",
    "ukbbArrayValidation.genome": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa",
    "ukbbArrayValidation.genome_index": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai",
    "ukbbArrayValidation.genome_dict": "gs://alba-gatk-sv/resources/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.dict",
    "ukbbArrayValidation.gs_path": "gs://alba-gatk-sv/software/svtoolkit"
}
