{ "workflow_failure_mode": "ContinueWhilePossible",
  "monitoring_script": "gs://gatk-sv-resources/resources/cromwell_monitoring_script2.sh",
  "google_project": "talkowski-sv-gnomad",
  "read_from_cache" : true,
  "write_to_cache" : true,
  "final_workflow_outputs_dir" : "gs://alba-gatk-sv/array-validation/output"
}
